# Miscellaneous
*.class
*.log
*.pyc
*.swp

.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
flutter_ui/**/doc/api/
flutter_ui/**/ios/Flutter/.last_build_id
flutter_ui/.dart_tool/
flutter_ui/.flutter-plugins
flutter_ui/.flutter-plugins-dependencies
flutter_ui/.pub-cache/
flutter_ui/.pub/
flutter_ui/build/
 flutter_ui/build/ios/Debug-iphonesimulator/.last_build_id
        flutter_ui/build/ios/Debug-iphonesimulator/App.framework/App
        flutter_ui/build/ios/Debug-iphonesimulator/App.framework/_CodeSignature/CodeResources
        flutter_ui/build/ios/Debug-iphonesimulator/App.framework/flutter_assets/kernel_blob.bin
        flutter_ui/build/ios/Debug-iphonesimulator/Flutter.framework/Flutter
        flutter_ui/build/ios/Debug-iphonesimulator/Pods_Runner.framework/Pods_Runner
        flutter_ui/build/ios/Debug-iphonesimulator/Pods_Runner.framework/_CodeSignature/CodeDirectory
        flutter_ui/build/ios/Debug-iphonesimulator/Pods_Runner.framework/_CodeSignature/CodeRequirements-1
        flutter_ui/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/App
        flutter_ui/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/_CodeSignature/CodeResources
        flutter_ui/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/kernel_blob.bin
        flutter_ui/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/Flutter.framework/Flutter
        flutter_ui/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/flutter_keyboard_visibility.framework/flutter_keyboard_visibility
        flutter_ui/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/shared_preferences_foundation.framework/shared_preferences_foundation
        flutter_ui/build/ios/Debug-iphonesimulator/Runner.app/Runner
        flutter_ui/build/ios/Debug-iphonesimulator/Runner.app/_CodeSignature/CodeResources
        flutter_ui/build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/App
        flutter_ui/build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/_CodeSignature/CodeResources
        flutter_ui/build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/kernel_blob.bin
        flutter_ui/build/ios/iphonesimulator/Runner.app/Frameworks/Flutter.framework/Flutter
        flutter_ui/build/ios/iphonesimulator/Runner.app/Frameworks/flutter_keyboard_visibility.framework/flutter_keyboard_visibility
        flutter_ui/build/ios/iphonesimulator/Runner.app/Frameworks/shared_preferences_foundation.framework/shared_preferences_foundation
        flutter_ui/build/ios/iphonesimulator/Runner.app/Runner
        flutter_ui/build/ios/iphonesimulator/Runner.app/_CodeSignature/CodeResources

# Symbolication related
flutter_ui/app.*.symbols

# Obfuscation related
flutter_ui/app.*.map.json

# Android Studio will place build artifacts here
flutter_ui/android/app/debug
flutter_ui/android/app/profile
flutter_ui/android/app/release
