/.DS_Store
/.idea
flutter-ui/build/*
flutter-ui/pubspec.lock
flutter-ui/.dart_tool/*
flutter-ui/.flutter-plugins-dependencies/*
flutter-ui/.flutter-plugins-dependencies
flutter_ui/.flutter-plugins
flutter_ui/.flutter-plugins-dependencies
flutter_ui/analysis_options.yaml
flutter_ui/flutter_bus.iml
flutter_ui/pubspec.lock
flutter_ui/pubspec.yaml
flutter_ui/README.md
flutter_ui/.dart_tool/package_config_subset
flutter_ui/.dart_tool/package_config.json
flutter_ui/.dart_tool/version
flutter_ui/.dart_tool/flutter_build/dart_plugin_registrant.dart
flutter_ui/.dart_tool/flutter_build/8b402f515ccc38cad117ab8a2fe2f0d3/.filecache
flutter_ui/.dart_tool/flutter_build/8b402f515ccc38cad117ab8a2fe2f0d3/app.dill
flutter_ui/.dart_tool/flutter_build/8b402f515ccc38cad117ab8a2fe2f0d3/debug_ios_bundle_flutter_assets.stamp
flutter_ui/.dart_tool/flutter_build/8b402f515ccc38cad117ab8a2fe2f0d3/debug_universal_framework.stamp
flutter_ui/.dart_tool/flutter_build/8b402f515ccc38cad117ab8a2fe2f0d3/debug_unpack_ios.stamp
flutter_ui/.dart_tool/flutter_build/8b402f515ccc38cad117ab8a2fe2f0d3/flutter_assets.d
flutter_ui/.dart_tool/flutter_build/8b402f515ccc38cad117ab8a2fe2f0d3/gen_dart_plugin_registrant.stamp
flutter_ui/.dart_tool/flutter_build/8b402f515ccc38cad117ab8a2fe2f0d3/gen_localizations.stamp
flutter_ui/.dart_tool/flutter_build/8b402f515ccc38cad117ab8a2fe2f0d3/kernel_snapshot.d
flutter_ui/.dart_tool/flutter_build/8b402f515ccc38cad117ab8a2fe2f0d3/kernel_snapshot.stamp
flutter_ui/.dart_tool/flutter_build/8b402f515ccc38cad117ab8a2fe2f0d3/native_assets.d
flutter_ui/.dart_tool/flutter_build/8b402f515ccc38cad117ab8a2fe2f0d3/native_assets.stamp
flutter_ui/.dart_tool/flutter_build/8b402f515ccc38cad117ab8a2fe2f0d3/native_assets.yaml
flutter_ui/.dart_tool/flutter_build/8b402f515ccc38cad117ab8a2fe2f0d3/outputs.json
flutter_ui/.dart_tool/flutter_build/8b402f515ccc38cad117ab8a2fe2f0d3/App.framework/App
flutter_ui/android/local.properties
flutter_ui/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
flutter_ui/assets/ca/mycert.pem
flutter_ui/assets/ca/server.crt
flutter_ui/assets/ca/server.key
flutter_ui/assets/images/flutter_logo.png
flutter_ui/assets/images/2.0x/flutter_logo.png
flutter_ui/assets/images/3.0x/flutter_logo.png
flutter_ui/build/698ae903c4bfa37b883c6c2453ca95d0/_composite.stamp
flutter_ui/build/698ae903c4bfa37b883c6c2453ca95d0/gen_dart_plugin_registrant.stamp
flutter_ui/build/698ae903c4bfa37b883c6c2453ca95d0/gen_localizations.stamp
flutter_ui/build/test_cache/build/cache.dill.track.dill
flutter_ui/build/unit_test_assets/AssetManifest.bin
flutter_ui/build/unit_test_assets/AssetManifest.json
flutter_ui/build/unit_test_assets/FontManifest.json
flutter_ui/build/unit_test_assets/NOTICES.Z
flutter_ui/build/unit_test_assets/assets/ca/mycert.pem
flutter_ui/build/unit_test_assets/assets/ca/server.crt
flutter_ui/build/unit_test_assets/assets/ca/server.key
flutter_ui/build/unit_test_assets/fonts/MaterialIcons-Regular.otf
flutter_ui/build/unit_test_assets/shaders/ink_sparkle.frag
flutter_ui/ios/Podfile
flutter_ui/ios/Flutter/flutter_export_environment.sh
flutter_ui/ios/Flutter/Generated.xcconfig
flutter_ui/ios/Runner/GeneratedPluginRegistrant.h
flutter_ui/ios/Runner/GeneratedPluginRegistrant.m
flutter_ui/lib/.DS_Store
flutter_ui/linux/flutter/generated_plugin_registrant.cc
flutter_ui/linux/flutter/generated_plugin_registrant.h
flutter_ui/linux/flutter/generated_plugins.cmake
flutter_ui/macos/Podfile
flutter_ui/macos/Flutter/GeneratedPluginRegistrant.swift
flutter_ui/macos/Flutter/ephemeral/flutter_export_environment.sh
flutter_ui/macos/Flutter/ephemeral/Flutter-Generated.xcconfig
